select, div.select {
    height: 20px;
    box-sizing: border-box;
    cursor: pointer;
}

div.select {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    min-width: 120px;
}

div.select > div.option {
    left: 5px;
    top: 0;
    display: block;
    height: 0;
    opacity: 0;
}

div.select.multiple-select > div.option {
    margin-right: 20px;
}

.select-container > select, .select-container > div.select {
    appearance: none;
    -webkit-appearance: none;
    padding: 0 20px 0 5px;
    font-size: var(--vscode-font-size);
    font-family: var(--vscode-font-family);
    font-weight: var(--vscode-font-weight);
}

.select-container {
    display: inline-block;
    position: relative;
}

.select-container::after {
    content: "\eab4";
    font-family: codicon;
    font-size: 14px;
    width: 14px;
    height: 14px;
    line-height: 14px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 3px;
    margin: auto;
    pointer-events: none;
}

select, input[type=text], textarea, div.select {
    background: var(--vscode-input-background);
    color: var(--vscode-input-foreground);
    border: 1px solid var(--vscode-settings-textInputBorder);
}

select:focus, select.dropdown-opened, input[type=text]:focus, textarea:focus, div.select:focus, div.select.dropdown-opened {
    outline: 1px solid var(--vscode-focusBorder);
    outline-offset: -1px;
}

input[type=text] {
    height: 20px;
    box-sizing: border-box;
    padding: 0 5px;
    vertical-align: middle;
}

input[type=checkbox] {
    cursor: pointer;
}

input::placeholder {
    color: var(--vscode-input-placeholderForeground);
}

ul.select-dropdown {
    position: fixed;
    cursor: pointer;
    background: var(--vscode-input-background);
    color: var(--vscode-input-foreground);
    border: none;
    outline: 1px solid var(--vscode-focusBorder);
    outline-offset: -1px;
    font-size: var(--vscode-font-size);
    font-family: var(--vscode-font-family);
    font-weight: var(--vscode-font-weight);
    list-style-type: none;
    box-sizing: border-box;
    padding: 0 0 1px 0;
    margin: 0;
    z-index: 100;
    max-height: 300px;
    overflow-y: auto;
}

ul.select-dropdown li {
    padding-left: 5px;
    padding-bottom: 1px;
}

ul.select-dropdown li:hover, ul.select-dropdown li:focus {
    outline: none;
    background: var(--vscode-list-focusBackground);
}

input[type=checkbox].hidden {
    display: block;
    width: 0;
    max-width: 0;
    height: 0;
    max-height: 0;
    overflow: hidden;
    margin: 0;
}

label.hidden {
    display: none;
}

div.checkbox-container-out {
    display: inline-block;
}

div.checkbox-container {
    display: flex;
    cursor: pointer;
}

div.checkbox-container:focus {
    outline: none;
}

div.checkbox-container:focus > div.checkbox {
    border-color: var(--vscode-focusBorder);
}

div.checkbox {
    box-sizing: border-box;
    display: inline-block;
    width: 18px;
    height: 18px;
    background: var(--vscode-checkbox-background);
    color: transparent;
    border: 1px solid var(--vscode-checkbox-border);
    margin-right: 4px;
    border-radius: 3px;
}

ul.select-dropdown div.checkbox {
    margin-top: 1px;
}

ul.select-dropdown div.checkbox-container-out {
    vertical-align: top;
}

input[type=checkbox]:checked ~ div.checkbox-container-out div.checkbox, div.checkbox.checked {
    color: var(--vscode-checkbox-foreground);
}
