select {
    height: 20px;
    box-sizing: border-box;
    cursor: pointer;
}

.select-container > select {
    appearance: none;
    -webkit-appearance: none;
    padding: 0 20px 0 5px;
}

.select-container {
    display: inline-block;
    position: relative;
}

.select-container::after {
    content: "\eab4";
    font-family: codicon;
    font-size: 14px;
    width: 14px;
    height: 14px;
    line-height: 14px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 3px;
    margin: auto;
    pointer-events: none;
}

select, input[type=text], textarea {
    background: var(--vscode-input-background);
    color: var(--vscode-input-foreground);
    border: 1px solid var(--vscode-settings-textInputBorder);
}

select:focus, input[type=text]:focus, textarea:focus {
    outline: 1px solid var(--vscode-focusBorder);
}

input[type=text] {
    height: 20px;
    box-sizing: border-box;
    padding: 0 5px;
    vertical-align: middle;
}

input[type=checkbox] {
    cursor: pointer;
}
