select {
    height: 20px;
    box-sizing: border-box;
    cursor: pointer;
}

.select-container > select {
    appearance: none;
    -webkit-appearance: none;
    padding: 0 20px 0 5px;
    font-size: var(--vscode-font-size);
    font-family: var(--vscode-font-family);
    font-weight: var(--vscode-font-weight);
}

.select-container {
    display: inline-block;
    position: relative;
}

.select-container::after {
    content: "\eab4";
    font-family: codicon;
    font-size: 14px;
    width: 14px;
    height: 14px;
    line-height: 14px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 3px;
    margin: auto;
    pointer-events: none;
}

select, input[type=text], textarea {
    background: var(--vscode-input-background);
    color: var(--vscode-input-foreground);
    border: 1px solid var(--vscode-settings-textInputBorder);
}

select:focus, input[type=text]:focus, textarea:focus {
    outline: 1px solid var(--vscode-focusBorder);
}

input[type=text] {
    height: 20px;
    box-sizing: border-box;
    padding: 0 5px;
    vertical-align: middle;
}

input[type=checkbox] {
    cursor: pointer;
}

ul.select-dropdown {
    position: fixed;
    cursor: pointer;
    background: var(--vscode-input-background);
    color: var(--vscode-input-foreground);
    border: 1px solid var(--vscode-focusBorder);
    font-size: var(--vscode-font-size);
    font-family: var(--vscode-font-family);
    font-weight: var(--vscode-font-weight);
    list-style-type: none;
    box-sizing: border-box;
    padding: 0 0 1px 0;
    margin: 0;
    z-index: 100;
}

ul.select-dropdown li {
    padding-left: 4px;
    padding-bottom: 1px;
}

ul.select-dropdown li:hover, ul.select-dropdown li:focus {
    outline: none;
    background: var(--vscode-list-focusBackground);
}
